<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Automation_Projects/RestAssuredAPITest">

        <classes>
            <class name="Token">
                <methods>
                    <include name="Test1"></include>
                </methods>
            </class>
            <class name="OwnerVerify">
                <methods>
                    <include name="OwnerVerify"></include>
                </methods>
            </class>
        </classes>

    </test>
</suite>